<div [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" (blur)="onNameInputBlur()"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required (blur)="onEmailInputBlur()"/>
    <mat-error *ngIf="email.invalid && email.errors && email.errors['required']">Please provide person's email</mat-error>
    <mat-error *ngIf="email.invalid && email.errors && email.errors['email']">Please provide valid email address</mat-error>
  </mat-form-field>
</div>
